h1 {
    font-size: 3.2em; /* Adjust h1 size */
    text-align: center;
}
h2 {
    font-size: 1.25em; /* Adjust h2 size */
}
h3 {
    font-size: 1.1em; /* Adjust h3 size */
}
/* Add more styles as needed */
